<div class="btn-group group-payment-filter" role="group">
    {% with value=request.args.get(arg) %}
    <div class="btn-group" role="group" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class="btn btn-sm btn-payment-light btn-payment btn-payment-filter text-nowrap">
            {{ label }}
        </button>
        {% if value %}
        <button class="btn btn-sm btn-primary btn-payment btn-payment-filter text-nowrap">
            {{ value }}
        </button>
        {% endif %}
    </div>
    <div class="dropdown-menu">
        {% for choice in choices %}
        {% with href=url_for_search(request.url_rule.endpoint, exclude=['page'], include={arg: choice}) %}
        <a href="{{ href }}" class="dropdown-item dropdown-item-payment{% if value==choice %} active{% endif %}">
            {{ choice }}
        </a>
        {% endwith %}
        {% endfor %}
    </div>
    {% endwith %}
    {% if arg in request.args %}
    {% with href=url_for_search(request.url_rule.endpoint, exclude=['page', arg]) %}
    <a href="{{ href }}" class="btn btn-sm btn-primary btn-payment btn-payment-filter">
        <i class="fas fa-times"></i>
    </a>
    {% endwith %}
    {% endif %}
</div>
