<div class="modal modal-payment fade" id="modalRetry" tabindex="-1" role="dialog" aria-labelledby="modalRetryTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRetryTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Спробувати обробити дані оплати ще раз.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-payment btn-secondary" data-dismiss="modal">Закрити</button>
                <a class="btn btn-payment btn-primary" href="/">Підтвердити</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#modalRetry').on('show.bs.modal', function (event) {
        var modal = $(this);
        modal.find('.modal-title').text('Повторити обробку оплати');
        modal.find('.modal-footer a').attr('href', $(event.relatedTarget).attr('href'));
    })
</script>
