{% if data %}
<table class="table table-bordered table-striped table-payments">
    {% for field in data %}

    {% if data[field]|typing_is_dict %}
    {% if 'status' in data[field] and data[field]['status']=='available' %}
    {% set table_class="table-success" %}
    {% elif 'status' in data[field] %}
    {% set table_class="table-danger" %}
    {% endif %}
    {% else %}
    {% if field=='status' and data[field]=='available' %}
    {% set table_class="table-success" %}
    {% elif field=='status' %}
    {% set table_class="table-danger" %}
    {% endif %}
    {% endif %}
    <tr>
        <td class="{{ table_class }}">
            {{ field }}
        </td>
        {% if data[field]|typing_is_dict %}
        <td class="{{ table_class }}">
            {% with data=data[field] %}
            {% include 'payments/partials/table_dict.html' %}
            {% endwith %}
        </td>
        {% else %}
        <td class="{{ table_class }}">
            {{ data[field] }}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    {% include "payments/partials/table_empty.html" %}
{% endif %}
