{% if data %}
<table class="table table-bordered table-striped table-payments">
    {% for field in data %}
    <tr>
        <td>
            {% if field == 'type' %}
                {{ data[field]|complaint_status_description }}
            {% elif field == 'reason' %}
                {{ data[field]|complaint_reject_description }}
            {% elif field == 'funds' %}
                {{ data[field]|complaint_funds_description }}
            {% else %}
                {{ data[field] }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    {% include "payments/partials/table_empty.html" %}
{% endif %}
