{% if row.messages %}
<table class="table table-bordered table-striped table-payments">
    {% if row.messages %}
    {% for message in row.messages %}
    <tr>
        <td class="table-cell-bg">
            <div class="table-bg table-{{ message|payment_message_status or 'default' }}"></div>
            {% if message.createdAt %}
            <div class="table-content">{{
                message.createdAt|datetime_astimezone|datetime_replace_microseconds|datetime_isoformat }}
            </div>
            {% endif %}
        </td>
        <td class="table-cell-bg">
            <div class="table-bg table-{{ message|payment_message_status or 'default' }}"></div>
            <div class="table-content">{{ message.message_id }}</div>
        </td>
        <td class="table-cell-bg">
            <div class="table-bg table-{{ message|payment_message_status or 'default' }}"></div>
            <div class="table-content">{{ message.message }}</div>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>Дані відсутні</td>
    </tr>
    {% endif %}
</table>
{% else %}
    {% include "payments/partials/table_empty.html" %}
{% endif %}
