{% if row %}
<table class="table table-bordered table-striped table-payments">
    {% for key in row %}
    {% if key not in ['_id', 'payment', 'params', 'messages', 'resolution'] %}
    <tr>
        <td class="cell-name">
            {% if key=="user" %}
            Інінціатор:
            {% elif key=="createdAt" %}
            Дата отримання:
            {% else %}
            {{ key|capitalize }}
            {% endif %}
        </td>
        <td>
            {% if key=="createdAt" %}
            {{ row[key]|date_representation }}
            {% else %}
            {{ row[key] }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% else %}
    {% include "payments/partials/table_empty.html" %}
{% endif %}
