{% if rows %}
<table class="table table-bordered table-striped table-payments">
    <tr class="thead-dark">
        <th class="text-center">#</th>
        {% for name, item in rows[0].items() %}
        {% if name not in ['id', 'messages', 'params'] %}
        <th>{{ item.title }}</th>
        {% endif %}
        {% endfor %}
        <th>Повт.</th>
        <th>Інф.</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td class="text-center align-middle">{{ loop.index + page * limit - limit }}</td>
        {% for name, item in row.items() %}
        {% if item.value|typing_is_dict %}
        <td class="cell-{{ name }}">
            {% if not name=='resolution' or item.value.type.value %}
            {% with data=item.value %}
            {% include "payments/partials/table_info.html" %}
            {% endwith %}
            {% endif %}
        </td>
        {% elif name not in ['id', 'messages', 'params'] %}
        <td class="cell-{{ name }}">
            {{ item.value }}
        </td>
        {% endif %}
        {% endfor %}
        {% if row.payment and row.payment.value.type.value == 'credit' %}
        <td class="text-white cell-action cell-lg border-0 bg-primary">
            {% with path='/payments/' + row.id.value + '/retry' %}
            <a href="{{ path }}" data-toggle="modal" data-target="#modalRetry">
                <i class="fas fa-sync-alt"></i>
            </a>
            {% endwith %}
        </td>
        {% else %}
        <td class="text-white cell-action cell-action-disabled cell-lg border-0 bg-dark">
            <i class="fas fa-sync-alt"></i>
        </td>
        {% endif %}
        <td class="text-white cell-action cell-lg border-0 bg-{{ row.messages|payment_message_list_status or 'dark' }}">
            <a href="/payments/{{row.id.value}}">
                <i class="fas fa-info-circle"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% include "payments/partials/table_empty.html" %}
{% endif %}
