{% if rows %}
<table class="table table-bordered table-striped table-payments">
    <tr class="thead-dark">
        <th>Оплата</th>
        <th>Отримано</th>
        <th>Ініціатор</th>
        <th>Повт.</th>
        <th>Інф.</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>
            {% include "payments/partials/table_info.html" %}
        </td>
        <td>{{ row.createdAt|datetime_astimezone|datetime_replace_microseconds|datetime_isoformat }}</td>
        <td>{{ row.user or ""}}</td>
        {% if row["payment"] and row["payment"]["type"] == "credit" %}
        <td class="text-white cell-action cell-lg border-0 bg-primary">
            {% with path='/payments/' + row._id + '/retry' %}
            <a href="{{ path }}" data-toggle="modal" data-target="#modalRetry">
                <i class="fas fa-sync-alt"></i>
            </a>
            {% endwith %}
        </td>
        {% else %}
        <td class="text-white cell-action cell-action-disabled cell-lg border-0 bg-secondary">
            <i class="fas fa-sync-alt"></i>
        </td>
        {% endif %}
        <td class="text-white cell-action cell-lg border-0 bg-{{ row|payment_primary_message|payment_message_status or 'dark' }}">
            <a href="/payments/{{row._id}}">
                <i class="fas fa-info-circle"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    {% include "payments/partials/table_empty.html" %}
{% endif %}
