<div class="btn-toolbar mt-3" role="toolbar" aria-label="Filters">
    <form action="{{ url_for(request.url_rule.endpoint) }}" method="GET" accept-charset="UTF-8">
        <div class="input-group input-group-justified mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text input-payment" id="searchGroupAddon">Призначення</div>
            </div>
            <input type="text" name="query" class="form-control input-payment"
                   value="{{ request.args.get('query') or '' }}"
                   aria-label="Search"
                   aria-describedby="searchGroupAddon">
            <input type="submit" class="btn btn-secondary btn-payment" value="Пошук"/>
            {% for arg in request.args %}
            {% if arg not in ['page', 'query'] %}
            <input type="hidden" name="{{ arg }}" value="{{ request.args.get(arg) }}"/>
            {% endif %}
            {% endfor %}
        </div>
    </form>
    <a href="{{ url_for_search(request.url_rule.endpoint, exclude=['page', 'query']) }}"
       class="btn btn-secondary btn-payment{% if 'query' not in request.args %} disabled{% endif %} mb-2 mr-2">
        <i class="fas fa-times"></i>
    </a>
    {% with type=request.args.get("type") %}
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text input-payment" id="typeGroupAddon">Тип операції</div>
        </div>
        <div class="btn-group btn-payment" role="group" aria-describedby="typeGroupAddon">
            <div class="dropdown">
                <button class="btn btn-secondary btn-payment" type="button" id="typeMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if type %}{{ type or '' }}{% else %}<i class="fas fa-caret-down"></i>{% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="typeMenuButton">
                    <a class="dropdown-item dropdown-item-payment{% if type=='debit' %} active{% endif %}"
                       href="{{ url_for_search(request.url_rule.endpoint, exclude=['page'], include=dict(type='debit')) }}">debit</a>
                    <a class="dropdown-item dropdown-item-payment{% if type=='credit' %} active{% endif %}"
                       href="{{ url_for_search(request.url_rule.endpoint, exclude=['page'], include=dict(type='credit')) }}">credit</a>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url_for_search(request.url_rule.endpoint, exclude=['page', 'type']) }}"
       class="btn btn-secondary btn-payment{% if 'type' not in request.args %} disabled{% endif %} mb-2 mr-2">
        <i class="fas fa-times"></i>
    </a>
    {% endwith %}
</div>
