{% with action=url_for(request.url_rule.endpoint) %}
<form action="{{ action }}" method="GET" accept-charset="UTF-8" class="btn-group group-payment-filter">
    <button type="submit" class="btn btn-sm btn-payment-light btn-payment btn-payment-filter">
        <i class="fas fa-search"></i>
    </button>
    <input type="text"
           placeholder="ПОШУК"
           name="{{ arg }}"
           class="form-control input-payment z-depth-1"
           value="{{ request.args.get(arg, '') }}">
    {% for args_arg in request.args %}
    {% if arg_item not in ['page', arg] %}
    <input type="hidden" name="{{ args_arg }}" value="{{ request.args.get(args_arg) }}"/>
    {% endif %}
    {% endfor %}
    {% if arg in request.args %}
    {% with href=url_for_search(request.url_rule.endpoint, exclude=['page', arg]) %}
    <a href="{{ href }}" class="btn btn-sm btn-primary btn-payment btn-payment-filter">
        <i class="fas fa-times"></i>
    </a>
    {% endwith %}
    {% endif %}
</form>
{% endwith %}
