{% extends "base.html" %}

{% block head %}

{{ super() }}

<style type="text/css">

    @media (max-width: 90rem) {
        body {
            min-width: 90rem;
        }
    }

    [data-toggle="collapse"] {
        cursor: pointer;
    }

    .modal-payment > .modal-dialog > .modal-content {
        border-radius: 0;
        border: 0;
    }

    .modal-payment > .modal-dialog > .modal-content > .modal-body {
        font-size: .75rem;
    }

    .btn.btn-payment {
        border-radius: 0;
        text-align: center;
    }

    .btn-toolbar .btn.btn-payment {
        margin: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .dropdown > .dropdown-menu {
        border-radius: 0;
        padding: 0;
    }

    .dropdown .btn.btn-payment {
        height: 100%;
    }

    .dropdown-item-payment {
        font-size: .75rem;
    }

    .dropdown-item-payment.active {
        background-color: #343a40;
    }

    .input-group .input-payment {
        border-radius: 0;
    }

    .input-payment {
        border-radius: 0;
        font-size: .64rem;
    }

    .input-payment[type="text"] {
        font-size: .65rem;
        height: 100%;
    }

    .input-group-prepend .input-payment.input-group-text {
        border-radius: 0;
        font-size: .64rem;
    }

    .nav-payments {
        padding: 0;
    }

    .nav-payments > .nav-item > .btn {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    .table-payments {
        font-size: .75rem;
        margin-bottom: 0;
    }

    .table-payments td {
        font-size: .75rem;
    }

    .table-payments th {
        font-size: .75rem;
    }

    .table-payments + .table-payments {
        margin-top: .4rem;
    }

    .table-payments .table-secondary {
        background-color: white;
    }

    .table-payments > tbody > tr > td {
        padding: .4rem .4rem;
        overflow: hidden;
        position: relative;
    }

    .table-payments > tbody > tr > td.cell-payment {
        min-width: 30rem;
    }

    .table-payments > tbody > tr > td.cell-resolution,
    .table-payments > tbody > tr > td.cell-extra {
        min-width: 22rem;
    }

    .table-payments > tbody > tr > td.cell-processing_status {
        min-width: 10rem;
    }

    .table-payments > tbody > tr > td.cell-name {
        width: 9rem;
    }

    .table-payments > tbody > tr > td.cell-value {
        min-width: 9rem;
    }

    .table-payments > tbody > tr > td.cell-action {
        opacity: 0.7;
        text-align: center;
        vertical-align: middle;
        width: 0.7rem;
    }

    .table-payments > tbody > tr > td.cell-action.cell-lg {
        font-size: 24px;
        min-width: 4rem;
    }

    .table-payments > tbody > tr > td.cell-action:hover {
        overflow: hidden;
    }

    .table-payments > tbody > tr > td.cell-action:not(.cell-action-disabled):hover {
        opacity: 0.9;
        cursor: pointer;
    }

    .table-payments > tbody > tr > td.cell-action > a {
        margin: -100em;
        padding: 100em;
        height: 100%;
        width: 100%;
        color: #ffffff;
    }

    .table-payments > tbody > tr > td.table-cell-bg {
        position: relative;
    }

    .table-payments > tbody > tr > td.table-cell-bg > .table-bg {
        opacity: 0.5;
        margin: -0.4rem;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .table-payments > tbody > tr > td.table-cell-bg > .table-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .pagination .page-item .page-link,
    .pagination .page-item.active .page-link {
        border-radius: 0;
    }

    .table-failed, .table-failed > td, .table-failed > th {
        background-color: #e1cdff;
    }

    .bg-failed {
        background-color: #625790 !important;
    }

    .waves-input-wrapper {
        border-radius: 0;
    }

    .daterangepicker {
        border-radius: 0;
    }

    .daterangepicker .active {
        background-color: #4285f4 !important;
    }
</style>

{% endblock %}
{% block scripts %}

{{ super() }}

<script type="text/javascript">
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
</script>

<script type="text/javascript">
    var rangePickerLocale = {
        "format": 'YYYY-MM-DD',
        "separator": " - ",
        "applyLabel": "Застосувати",
        "cancelLabel": "Відмінити",
        "fromLabel": "З",
        "toLabel": "До",
        "customRangeLabel": "В",
        "daysOfWeek": ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Нд"],
        "monthNames": [
            "Січень",
            "Лютий",
            "Березень",
            "Квітень",
            "Травень",
            "Червень",
            "Липень",
            "Серпень",
            "Вересень",
            "Жовтень",
            "Листопад",
            "Грудень"
        ],
        "firstDay": 1
    }
</script>

<script type="text/javascript">
    var rangePickerRanges = {
        "Сьогодні": [moment(), moment()],
        "Вчора": [moment().subtract(1, "days"), moment().subtract(1, "days")],
        "Останні 7 днів": [moment().subtract(6, "days"), moment()],
        "Останні 30 днів": [moment().subtract(29, "days"), moment()],
        "Поточний місяць": [moment().startOf("month"), moment().endOf("month")],
        "Останній місяць": [
            moment().subtract(1, 'month').startOf('month'),
            moment().subtract(1, 'month').endOf('month')
        ]
    }
</script>

{% endblock %}
