{% extends "base.html" %}

{% block head %}

{{ super() }}

<style type="text/css">
    .table-payments {
        font-size: .75rem;
    }
    .table-payments td {
        padding: .4rem .4rem;
    }
    .table-payments td {
        overflow: hidden;
        word-break: break-all;
    }
    .table-payments .cell-name {
        width: 7rem;
    }

    .table-payments .cell-action {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 3rem;
        border: 0;
    }

    .table-payments .cell-action:hover {
        opacity: 0.9;
        cursor: pointer;
        overflow: hidden;
    }

    .table-payments .cell-action a {
        margin: -10em;
        padding: 10em;
        height:100%;
        width:100%;
        color: white;
    }

</style>

{% endblock %}

{% block content %}
    {% include 'payments/table.html' %}
{% endblock %}
