{% extends "payments/base.html" %}

{% block content %}
<a href="{{ request.url }}" class="btn btn-info btn-payment btn-sm btn-block mb-2">
    <i class="fas fa-redo-alt mr-2"></i> Оновити
</a>
{% with path='/payments/' + row._id + '/retry' %}
    <a href="path" class="btn btn-primary btn-payment btn-sm btn-block mb-2" data-toggle="modal" data-target="#modalRetry">
        <i class="fas fa-play-circle mr-2"></i> Повторити обробку оплати
    </a>
{% endwith %}
<h1>Оплата</h1>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_info.html' %}
</div>
<h4 class="mt-4">Події</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_log.html' %}
</div>
<h4 class="mt-4">Посилання на API</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_urls_api.html' %}
</div>
<h4 class="mt-4">Посилання на портал</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_urls_portal.html' %}
</div>
<h4 class="mt-4">Скарга</h4>
<div class="table-responsive mb-2">
    {% with data=complaint %}
    {% include 'payments/partials/table_dict.html' %}
    {% endwith %}
</div>
<h4 class="mt-4">Закупівля</h4>
<div class="table-responsive mb-2">
    {% with data=tender %}
    {% include 'payments/partials/table_dict.html' %}
    {% endwith %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include 'payments/partials/modal_retry.html' %}
{% endblock %}
