{% extends "payments/base.html" %}

{% block content %}
{% include 'payments/partials/nav_tabs.html' %}
<div class="btn-toolbar mt-3" role="toolbar" aria-label="Filters">
    {% with date=request.args.get("date") %}
    <button class="btn btn-sm {% if date %}btn-primary{% else %}btn-dark{% endif %} btn-payment text-nowrap mb-2 mr-2"
            type="button"
            data-toggle="datepicker"
            data-href="{{ url_for(request.url_rule.endpoint) }}">
        {% if date %}
        <i class="fas fa-calendar-alt mr-2"></i> {{ date or '' }}
        {% else %}
        Дата завершення обробки
        {% endif %}
    </button>
    {% endwith %}

    <div class="dropdown mb-2">
        <a class="btn btn-sm btn-primary btn-payment" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-angle-double-down mr-2"></i> Завантажити
        </a>

        <div class="dropdown-menu pr-3 pl-1 pt-1 pb-1">

            <a href="{{ url_for_search(request.url_rule.endpoint + '_download', exclude=['funds'])}}"
               type="button"
               class="btn btn-sm btn-block btn-primary btn-payment m-1{%if not rows[1] %} disabled{% endif %}">
                Всі
            </a>

            <a href="{{ url_for_search(request.url_rule.endpoint + '_download', include=dict(funds='state')) }}"
               type="button"
               class="btn btn-sm btn-block btn-primary btn-payment m-1{%if not rows[1] %} disabled{% endif %}">
                {{ 'state'|complaint_funds_description }}
            </a>

            <a href="{{ url_for_search(request.url_rule.endpoint + '_download', include=dict(funds='complainant')) }}"
               type="button"
               class="btn btn-sm btn-block btn-primary btn-payment m-1{%if not rows[1] %} disabled{% endif %}">
                {{ 'complainant'|complaint_funds_description}}
            </a>

            <a href="{{ url_for_search(request.url_rule.endpoint + '_download', include=dict(funds='unknown')) }}"
               type="button"
               class="btn btn-sm btn-block btn-primary btn-payment m-1{%if not rows[1] %} disabled{% endif %}">
                {{ 'unknown'|complaint_funds_description }}
            </a>
        </div>
    </div>
</div>

<div class="table-responsive mb-2">
    {% with data=rows %}
    {% include 'payments/partials/table_report.html' %}
    {% endwith %}
</div>

{% endblock %}


{% block scripts %}

{{ super() }}

<script type="text/javascript">
    $(function () {
        var picker = $('[data-toggle="datepicker"]');
        picker.datepicker({
            format: 'yyyy-mm-dd',
        });
        picker.on('pick.datepicker', function (e) {
            window.location.href = picker.data("href") + '?date=' + picker.datepicker('getDate', true);
        });
    });
</script>

{% endblock %}
