{% extends "payments/base.html" %}

{% block content %}

{% include 'payments/partials/nav_tabs.html' %}

{% include 'payments/partials/btn_refresh.html' %}

{% if row["payment"] and row["payment"]["type"] == "credit" %}
{% include 'payments/partials/btn_retry.html' %}
{% endif %}

<h1>Оплата</h1>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_info.html' %}
</div>

{% if row and row.messages %}
<h4 class="mt-4">Події</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_log.html' %}
</div>
{% endif %}

{% if row and row.params %}
<h4 class="mt-4">Посилання на API</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_urls_api.html' %}
</div>
{% endif %}

{% if row and row.params %}
<h4 class="mt-4">Посилання на портал</h4>
<div class="table-responsive mb-2">
    {% include 'payments/partials/table_urls_portal.html' %}
</div>
{% endif %}

{% if row and row.params %}
<h4 class="mt-4">Скарга</h4>
<div class="table-responsive mb-2">
    {% with data=complaint %}
    {% include 'payments/partials/table_dict.html' %}
    {% endwith %}
</div>
{% endif %}

{% if row and row.params %}
<h4 class="mt-4">Закупівля</h4>
<div class="table-responsive mb-2">
    {% with data=tender %}
    {% include 'payments/partials/table_dict.html' %}
    {% endwith %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% include 'payments/partials/modal_retry.html' %}
{% endblock %}
