{% extends "payments/base.html" %}

{% block content %}
{% include 'payments/partials/nav_tabs.html' %}

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text input-payment" id="generateDateInfo">Дата</span>
    </div>
    <input type="text" placeholder="yyyy-mm-dd" class="form-control input-payment" id="generateDate"
           aria-describedby="generateDateInfo" data-toggle="datepicker">
</div>

<button type="button" class="btn btn-primary btn-payment btn-sm btn-block mt-3">
    <i class="fas fa-cog mr-2"></i> Сгенерувати
</button>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="datepicker"]').datepicker({
            format: 'yyyy-mm-dd',
            autoPick: true,
            date: new Date(Date.now() - 864e5)
        });
    });
</script>
{% endblock %}
