{% if tender %}
    <table class="table table-borderless table-striped table-payments mb-0">
        <tr>
            <td>
                {% with href=tender['tenderID']|prozorro_portal_tender_path|prozorro_portal_url %}
                    <a href="{{ href }}">{{ href }}</a>
                {% endwith %}
            </td>
        </tr>
    </table>
{% else %}
    <table class="table table-striped table-payments">
        <tr>
            <td>Дані відсутні</td>
        </tr>
    </table>
{% endif %}
