{% if data %}
    <table class="table table-bordered table-striped table-payments">
        {% for field in data %}
            <tr>
                <td>
                    {{ field }}
                </td>
                {% if data[field]|typing_is_dict %}
                    <td>
                        {% with data=data[field] %}
                            {% include 'payments/table_dict.html' %}
                        {% endwith %}
                    </td>
                {% elif data[field]|typing_is_list %}
                    <td>
                        {% for item in data[field] %}
                            {% with data=item %}
                                {% include 'payments/table_dict.html' %}
                            {% endwith %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        {{ data[field] }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <table class="table table-bordered table-striped table-payments">
        <tr>
            <td>Дані відсутні</td>
        </tr>
    </table>
{% endif %}
