{% if rows %}
    <table class="table table-bordered table-striped table-payments">
        <tr class="thead-dark">
            <th>Оплата</th>
            <th>Отримано</th>
            <th>Ініціатор</th>
            <th>Повт.</th>
            <th>Інф.</th>
        </tr>
            {% for row in rows %}
                <tr>
                    <td>{% include "payments/table_info.html" %}</td>
                    <td>{{ row.createdAt|datetime_astimezone|datetime_replace_microseconds|datetime_isoformat }}</td>
                    <td>{{ row.user or ""}}</td>
                    <td class="text-white cell-action border-0 bg-primary">
                        <a href="/payments/{{row._id}}/retry"><span class="oi oi-reload"></span></a>
                    </td>
                    <td class="text-white cell-action border-0 bg-{{ row|payment_primary_message|payment_message_status or 'secondary' }}">
                        <a href="/payments/{{row._id}}"><span class="oi oi-info"></span></a>
                    </td>
                </tr>
            {% endfor %}
    </table>
{% else %}
    <table class="table table-bordered table-striped table-payments">
        <tr>
            <td>Дані відсутні</td>
        </tr>
    </table>
{% endif %}
