<table class="table table-borderless table-striped table-payments">
    {% if row.messages %}
        {% for message in row.messages %}
            <tr class="table-{{ message|payment_message_status or 'default' }}">
                <td>
                    {{ message.message_id }}
                </td>
                <td>
                    {{ message.message }}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>Дані відсутні</td>
        </tr>
    {% endif %}
</table>
