{% extends "celery/base.html" %}

{% block content %}
    {% for resource in resources %}
    <h2 class="mt-3">Resource: {{ resource }}</h2>
    <form action='/celery/feed/{{ resource }}/start' method="POST" class="d-inline">
        <button type="submit" class="btn btn-sm btn-feed btn-primary z-depth-0 mb-0 ml-0">
            Start Forward/Backward
        </button>
    </form>
    {% with scheduled=resources[resource].get('scheduled') %}
    {% if scheduled %}
    {% with offset=(scheduled[0]["request"]["kwargs"]|literal_eval).get("offset") %}
    {% if offset %}
    <form action='/celery/feed/{{ resource }}/start' method="POST" class="d-inline">
        <input name="kwargs"
               value="{'descending': '1', 'offset': '{{ offset }}'}"
               type="hidden">
        <button type="submit" class="btn btn-sm btn-feed btn-success z-depth-0 mb-0 ml-0">
            Start Backward
        </button>
    </form>
    {% endif %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    <form action='/celery/feed/{{ resource }}/unlock' method="POST" class="d-inline">
        <button type="submit" class="btn btn-sm btn-feed btn-danger z-depth-0 mb-0 ml-0">
            Remove locks
        </button>
    </form>
    {% with inspect=resources[resource] %}
    {% include 'celery/partials/table_tasks.html' %}
    {% endwith %}
    {% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
