<div class="btn-group group-feed-filter" role="group">
    {% with value=request.args.get(arg, default_limit) %}
    <div class="btn-group" role="group" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class="btn btn-sm btn-feed-light btn-feed btn-feed-filter z-depth-0 text-nowrap">
            {{ label }}
        </button>
        {% if value %}
        <button class="btn btn-sm btn-primary btn-feed btn-feed-filter z-depth-0 text-nowrap">
            {{ value }}
        </button>
        {% endif %}
    </div>
    <div class="dropdown-menu">
        {% for choice in choices %}
        {% with href=url_for_search(request.url_rule.endpoint, exclude=['page'], include={arg: choice} if choice != default_limit else {}) %}
        <a href="{{ href }}" class="dropdown-item dropdown-item-feed{% if value==choice %} active{% endif %}">
            {{ choice }}
        </a>
        {% endwith %}
        {% endfor %}
    </div>
    {% endwith %}
    {% if not default_limit %}
    {% if arg in request.args %}
    {% with href=url_for_search(request.url_rule.endpoint, exclude=['page', arg]) %}
    <a href="{{ href }}" class="btn btn-sm btn-primary btn-feed btn-feed-filter z-depth-0">
        <i class="fas fa-times"></i>
    </a>
    {% endwith %}
    {% endif %}
    {% endif %}
</div>
