<table class="table table-bordered table-striped table-feed mt-3">
    <tr class="thead-dark">
        <th>Expand</th>
        <th>Name</th>
        <th>UUID</th>
        <th>args</th>
        <th>kwargs</th>
        <th>ETA</th>
    </tr>
    {% for row in data %}
    <tr>
        <td class="text-center" style="vertical-align: middle"
            data-toggle='collapse'
            data-target='#collapse-{{ row["request"]["id"] }}-scheduled'
            aria-expanded='true'
            aria-controls='collapse-{{ row["request"]["id"] }}-scheduled'>
            <i class="fa fa-angle-double-down"></i>
        </td>
        <td>{{ row["request"]["name"] }}</td>
        <td>
            <a href='/celery/tasks/{{ row["request"]["id"] }}' class="text-primary">
                {{ row["request"]["id"] }}
            </a>
        </td>
        <td>{{ row["request"]["args"] }}</td>
        <td>{{ row["request"]["kwargs"] }}</td>
        <td>{{ row["eta"] }}</td>
    </tr>
    <tr class="collapse" id='collapse-{{ row["request"]["id"] }}-scheduled'>
        <td colspan="6">
            {% with data=row %}
            {% include 'celery/partials/table_dict.html' %}
            {% endwith %}
            {% if resource %}
            <form action='/celery/feed/{{ resource }}/unlock' method="POST" class="d-inline">
                <input name="kwargs" value='{{ row["request"]["kwargs"] }}' type="hidden">
                <button type="submit" class="btn btn-sm btn-feed btn-danger z-depth-0 ml-0 mb-0">Remove lock</button>
            </form>
            {% endif %}
            <form action='/celery/tasks/{{ row["request"]["id"] }}/revoke' method="POST" class="d-inline">
                <button type="submit" class="btn btn-sm btn-feed btn-warning z-depth-0 ml-0 mb-0">Revoke</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    {% if not data %}
    {% include 'celery/partials/table_empty.html' %}
    {% endif %}
</table>
