<table class="table table-bordered table-striped table-feed mt-3">
    <tr class="thead-dark">
        <th>Name</th>
        <th>UUID</th>
        <th>Ack</th>
        <th>args</th>
        <th>kwargs</th>
    </tr>
    {% for row in data %}
    <tr data-toggle='collapse'
        data-target='#collapse-{{ row["id"] }}-active'
        aria-expanded='true'
        aria-controls='collapse-{{ row["id"] }}-active'>
        <td>{{ row["name"] }}</td>
        <td>{{ row["id"] }}</td>
        <td>{{ row["acknowledged"] }}</td>
        <td>{{ row["args"] }}</td>
        <td>{{ row["kwargs"] }}</td>
    </tr>
    <tr class="collapse" id='collapse-{{ row["id"] }}-active'>
        <td colspan="5">
            {% with data=row %}
            {% include 'celery/partials/table_dict.html' %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
    {% if not data %}
    {% include 'celery/partials/table_empty.html' %}
    {% endif %}
</table>
