<table class="table table-bordered table-striped table-feed mt-3">
    <tr class="thead-dark">
        <th>Expand</th>
        <th>Name</th>
        <th>UUID</th>
        <th>args</th>
        <th>kwargs</th>
    </tr>
    {% for row in data %}
    <tr>
        <td class="text-center" style="vertical-align: middle"
            data-toggle='collapse'
            data-target='#collapse-{{ row["id"] }}-reserved'
            aria-expanded='true'
            aria-controls='collapse-{{ row["id"] }}-reserved'>
            <i class="fa fa-angle-double-down"></i>
        </td>
        <td>{{ row["name"] }}</td>
        <td>
            <a href='/celery/tasks/{{ row["id"] }}' class="text-primary">
                {{ row["id"] }}
            </a>
        </td>
        <td>{{ row["args"] }}</td>
        <td>{{ row["kwargs"] }}</td>
    </tr>
    <tr class="collapse" id='collapse-{{ row["id"] }}-reserved'>
        <td colspan="6">
            {% with data=row %}
            {% include 'celery/partials/table_dict.html' %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
    {% if not data|length %}
    {% include 'celery/partials/table_empty.html' %}
    {% endif %}
</table>
