<table class="table table-bordered table-striped table-feed">
    {% for field in data %}
    {% if field in ("name", "id", "uuid", "state", "args", "kwargs", "result") %}
    <tr>
        <td>{{ field }}</td>
        {% if field == "kwargs" %}
        <td style="white-space: pre-wrap;">{{ data[field]|python_pretty_representation }}</td>
        {% elif field == "state" %}
        <td>
            {% with state=data[field] %}
            {% include 'celery/partials/badge_state.html' %}
            {% endwith %}
        </td>
        {% else %}
        <td>{{ data[field] }}</td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
