<table class="table table-bordered table-striped table-feed">
    <tr class="thead-dark">
        <th>Expand</th>
        <th>Name</th>
        <th>UUID</th>
        <th>State</th>
        <th>Args</th>
        <th>Kwargs</th>
        <th>Result</th>
        <th>Received</th>
        <th>ETA</th>
        <th>Started</th>
        <th>Runtime</th>
        <th>Worker</th>
    </tr>
    {% for row in data %}
    {% with uuid=row.get("uuid", row["id"]) %}
    <tr>
        <td class="text-center" style="vertical-align: middle"
            data-toggle='collapse'
            data-target='#collapse-{{ uuid }}'
            aria-expanded='true'
            aria-controls='collapse-{{ uuid }}'>
            <i class="fa fa-angle-double-down"></i>
        </td>
        <td>{{ row["name"] }}</td>
        <td>
            {% with url=url_for("celery_views.task", uuid=uuid) %}
            <a href="{{ url }}" class="text-primary">
                {{ uuid }}
            </a>
            {% endwith %}
        </td>
        <td>
            {% with state=row["state"] %}
            {% include 'celery/partials/badge_state.html' %}
            {% endwith %}
            {% if row["state"] in ('RECEIVED', 'RETRY', 'SCHEDULED') %}
            {% with url=url_for("celery_views.revoke", uuid=uuid) %}
            <form action='/celery/tasks/{{ uuid }}/revoke' method="POST" class="d-inline">
                <button type="submit" class="btn btn-sm btn-feed btn-warning btn-block btn-submit-form z-depth-0 ml-0 mb-0 mt-2 p-1">
                    <i class="fas fa-circle-notch fa-spin spinner-submit-form d-none"></i>
                    Revoke
                </button>
            </form>
            {% endwith %}
            {% endif %}
        </td>
        <td>{{ row["args"] }}</td>
        <td style="white-space: pre-wrap;">{{ row["kwargs"]|python_pretty_representation }}</td>
        <td>{{ row["result"] }}</td>
        <td>{{ row["received"]|timestamp_representation }}</td>
        <td>{{ row["eta"]|date_representation }}</td>
        <td>{{ row["started"]|timestamp_representation }}</td>
        <td>{{ row["runtime"] }}</td>
        <td>{{ row["worker"] }}</td>
    </tr>
    <tr class="collapse" id='collapse-{{ uuid }}'>
        <td colspan="12">
            {% with data=row %}
            <h5 class="pt-1">Basic</h5>
            {% include 'celery/partials/table_task_basic.html' %}
            <h5 class="pt-2">Advanced</h5>
            {% include 'celery/partials/table_task_adv.html' %}
            {% endwith %}
            {% if row["state"] in ('RECEIVED', 'SCHEDULED') %}
            {% with url=url_for("celery_views.revoke", uuid=uuid) %}
            <form action="{{ url }}" method="POST" class="d-inline">
                <button type="submit"
                        class="btn btn-sm btn-feed btn-warning btn-submit-form z-depth-0 mb-0 ml-0">
                    <i class="fas fa-circle-notch fa-spin spinner-submit-form mr-2 d-none"></i>
                    Revoke
                </button>
            </form>
            {% endwith %}
            {% endif %}
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% if not data %}
    {% include 'celery/partials/table_empty.html' %}
    {% endif %}
</table>
