{% extends "base.html" %}
{% block main %}

<div class="view full-page-intro"
     style="background-image: url({{ url_for('static', filename='img.png') }}); background-size: cover;">
    <div class="mask rgba-stylish-strong">
        <div class="container">
            <div class="row">
                <div class="mask flex-center">
                    <div class="text-white text-center py-5 px-4">
                        <div>
                            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                                <strong>Prozorro Integrations UI</strong>
                            </h2>
                            {% with url=url_for("payments_views.payment_list") %}
                            <a href="{{ url }}" class="btn btn-outline-white btn-md">
                                <i class="fas fa-coins left"></i>
                                Payments
                            </a>
                            {% endwith %}
                            {% with url=url_for("autoclient_payments_views.payment_list") %}
                            <a href="{{ url }}" class="btn btn-outline-white btn-md">
                                <i class="fas fa-coins left"></i>
                                Autoclient payments
                            </a>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
